html body .conteudo.destaques {
  margin: 0 auto;
  width: 100%;
  background: #000;
  text-align: center;
  height: auto;
}
html body .conteudo.destaques .titulo {
  margin: 0 !important;
  background: #fff;
  line-height: 50px;
  height: 80px;
  text-align: left;
}
html body .conteudo.destaques .titulo h2 {
  color: #000;
  font-family: 'Oxygen', sans-serif;
	font-size: 24px;
	font-weight: bold;
}
html body .embed-container {
  margin: 0 auto;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
html body .embed-container iframe,
html body .embed-container object,
html body .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
html body .conteudo.destaques .videos {
  padding: 40px 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1360px;
}
html body .conteudo.destaques .video {
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
}
html body .destaques-grid {
  background: #000;
  font-size: 0;
  padding-bottom: 40px;
  margin: 0;
}

html body .destaques-grid .destaques-banners {
  width: 100%;
  height: 0;
  padding-bottom: 33.33%;
  position: relative;
  overflow: hidden;
}

html body .destaques-grid .destaques-banners .pager {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 30px;
  z-index: 9999;
}

html body .destaques-grid .destaques-banners .pager span {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  display: inline-block;
  border: 1px #000 solid;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .3s ease-in;
}

html body .destaques-grid .destaques-banners .pager span:hover {
  background-color: #333;
}

html body .destaques-grid .destaques-banners .pager .cycle-pager-active {
  background-color: #000;
}

html body .destaques-grid .destaques-banners .destaques-banner {
  width: 100%;
  height: 100%;
}

html body .destaques-grid .destaques-banners .destaques-banner img {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

html body .destaques-grid .image {
  display: inline-block;
  vertical-align: top;
  padding: 4px;
  box-sizing: border-box;
}
html body .destaques-grid .image a {
  display: block;
}
html body .destaques-grid .image img {
  display: block;
  width: 100%;
  max-height: 400px;
}
html body .destaques-grid .image-small {
  width: 25%;
}
html body .destaques-grid .image-large {
  width: 50%;
}
html body .destaques-grid .video-small {
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
html body .destaques-grid .video-small .video-spacer {
  padding: 10px 60px;
}
@media (min-width: 0px) and (max-width: 1100px) {
  html body .conteudo.destaques {
    height: auto;
  }
  html body .destaques-grid {
    margin-top: -20px;
  }
  html body .destaques-grid .image-small {
    width: 50%;
  }
  html body .destaques-grid .image-large {
    width: 100%;
  }
  html body .destaques-grid .video-small {
    width: 100%;
    padding: 10px 0;
  }
}