html body .conteudo.links-home-remodelada {
  margin: 0 auto;
  width: 100%;
}
html body .conteudo.links-home-remodelada.fundo-preto {
  background: #000;
}
html body .conteudo.links-home-remodelada.fundo-preto nav .inferior {
  background: #FFF;
}
html body .conteudo.links-home-remodelada.fundo-preto header {
  margin: 0 !important;
  border-top: 5px #fff solid;
  border-bottom: 3px #fff solid;
}
html body .conteudo.links-home-remodelada .menu {
  display: none;
}
html body .conteudo.links-home-remodelada .contemSubMenu {
  border-bottom: 0 !important;
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada nav {
    background: #fff;
    height: 220px;
  }
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada nav {
    background: #fff;
  }
}
html body .conteudo.links-home-remodelada nav .marca-medium {
  float: left;
  display: none;
  height: 220px;
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada nav .marca-medium {
    display: block;
  }
}
html body .conteudo.links-home-remodelada nav .marca-medium img {
  max-width: 200px;
  max-height: 220px;
}
html body .conteudo.links-home-remodelada nav .superior {
  background: #000;
  padding: 10px 20px;
  box-sizing: border-box;
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada nav .superior {
    margin-left: 200px;
  }
}
@media (min-width: 0px) and (max-width: 649px) {
}
html body .conteudo.links-home-remodelada nav .superior ul #toggle-menu {
  display: none !important;
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada nav .superior ul #toggle-menu {
    text-align: center;
    margin-top: 18px;
    display: block !important;
    width: 100% !important;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
}
html body .conteudo.links-home-remodelada nav .superior ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  position: relative;
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada nav .superior ul li {
    margin-bottom: 30px;
  }
  html body .conteudo.links-home-remodelada nav .superior ul li:first-child a {
    padding-left: 0;
  }
  html body .conteudo.links-home-remodelada nav .superior ul li:last-child {
    margin-bottom: 0;
  }
}
html body .conteudo.links-home-remodelada nav .superior ul li.mobile-item {
  display: none;
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada nav .superior ul li {
    text-align: center;
  }
  html body .conteudo.links-home-remodelada nav .superior ul li.small-inline {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 49%;
  }
  html body .conteudo.links-home-remodelada nav .superior ul li a {
    padding: 0 !important;
  }
  html body .conteudo.links-home-remodelada nav .superior ul li:first-child {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 49%;
    text-align: center;
    padding-bottom: 5px;
  }
  html body .conteudo.links-home-remodelada nav .superior ul li:nth-child(2) {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 49%;
    text-align: center;
    padding-bottom: 5px;
  }
  html body .conteudo.links-home-remodelada nav .superior ul li.mobile-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 49%;
  }
  html body .conteudo.links-home-remodelada nav .superior ul li.mobile-item .marca-small img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
html body .conteudo.links-home-remodelada nav .superior ul li > a {
  display: block;
  color: #fff;
  line-height: 30px;
  height: 30px;
  padding: 0 20px;
  white-space: nowrap;
  transition: all 0.3s ease-in;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada nav .superior ul li > a {
    font-size: 14px;
  }
}
html body .conteudo.links-home-remodelada nav .superior ul li > a:hover {
  color: #ccc;
}
html body .conteudo.links-home-remodelada nav .superior ul li:first-child > a:after {
  background: #fff;
  width: 2px;
  height: 30px;
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  position: absolute;
  top: 0;
  right: 0px;
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada nav .superior ul li:first-child > a:after {
    display: none;
  }
}
html body .conteudo.links-home-remodelada nav .superior ul li #lista-redes-sociais-home > a {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin: 0 2px 4px 2px;
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada nav .superior ul li #lista-redes-sociais-home > a {
    width: 25px;
    height: 25px;
  }
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada nav .superior ul li #lista-redes-sociais-home > a {
    width: 25px;
    height: 25px;
    margin: 8px;
  }
}
html body .conteudo.links-home-remodelada nav .superior ul li #lista-redes-sociais-home > a img {
  width: 30px;
  height: 30px;
  display: block;
  transition: all 0.1s ease-out;
  margin: 0;
  opacity: 1;
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada nav .superior ul li #lista-redes-sociais-home > a img {
    width: 25px;
    height: 25px;
  }
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada nav .superior ul li #lista-redes-sociais-home > a img {
    width: 25px;
    height: 25px;
  }
}
html body .conteudo.links-home-remodelada nav .superior ul li #lista-redes-sociais-home > a:hover img {
  margin: -3px 0 0;
  opacity: 0.7;
}
html body .conteudo.links-home-remodelada nav .superior ul li #lista-redes-sociais-home > a#link-snapchat {
  position: relative;
}
html body .conteudo.links-home-remodelada nav .superior ul li #lista-redes-sociais-home > a#link-snapchat:hover span {
  opacity: .9;
  z-index: 999;
  display: block;
}
html body .conteudo.links-home-remodelada nav .superior ul li #lista-redes-sociais-home > a#link-snapchat span {
  width: 140px;
  display: none;
  white-space: nowrap;
  position: absolute;
  color: #FFF;
  background: #000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  opacity: 0;
  border-radius: 6px;
  padding: 0 10px;
  box-shadow: -2px -1px 0 #807d7f;
  transition: opacity 0.3s ease-out;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html body .conteudo.links-home-remodelada nav .superior ul li #lista-redes-sociais-home > a#link-snapchat span:after {
  content: '';
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #807d7f;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
html body .conteudo.links-home-remodelada nav .inferior {
  padding: 20px;
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada nav .inferior {
    margin-left: 200px;
  }
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada nav .inferior {
    padding: 5px 20px;
  }
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada nav .inferior ul {
    max-width: 80%;
  }
}
html body .conteudo.links-home-remodelada nav .inferior ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada nav .inferior ul li {
    margin-bottom: 4px;
    width: 42%;
  }
}
html body .conteudo.links-home-remodelada nav .inferior ul li a {
  display: block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding: 0 10px;
  position: relative;
  transition: color 0.3s ease-in;
}
html body .conteudo.links-home-remodelada nav .inferior ul li a:after {
  background: #000;
  width: 1px;
  height: 17px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0px;
}
html body .conteudo.links-home-remodelada nav .inferior ul li a:hover {
  color: #ccc;
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada nav .inferior ul li a {
    font-size: 14px;
    padding: 0 5px;
  }
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada nav .inferior ul li a:after {
    display: none;
  }
}
html body .conteudo.links-home-remodelada nav .inferior ul li:last-child a:after {
  display: none;
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada nav .inferior {
    z-index: 999;
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    max-height: 0;
    left: -500px;
    transition: opacity 0.3s ease-in;
  }
  html body .conteudo.links-home-remodelada nav .inferior.aberto {
    opacity: 1;
    max-height: 800px;
    left: 0;
  }
  html body .conteudo.links-home-remodelada nav .inferior ul {
    width: 100%;
  }
  html body .conteudo.links-home-remodelada nav .inferior ul li {
    display: block;
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
  html body .conteudo.links-home-remodelada nav .inferior ul li a {
    box-sizing: border-box;
    width: 100%;
  }
  html body .conteudo.links-home-remodelada nav .inferior ul li a:after {
    display: none;
  }
}
html body .conteudo.links-home-remodelada header {
  height: 220px;
  margin: 5px 0;
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada header {
    height: auto;
  }
}
html body .conteudo.links-home-remodelada header .marca {
  float: left;
  height: 220px;
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada header .marca {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada header .marca {
    display: none;
  }
}
html body .conteudo.links-home-remodelada header .marca img {
  max-width: 200px;
  max-height: 220px;
}
html body .conteudo.links-home-remodelada header .banners {
  width: 100%;
  padding-left: 200px;
  height: 220px;
  box-sizing: border-box;
  background: #E6E6E6;
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada header .banners {
    padding-left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada header .banners {
    height: auto;
    padding-left: 0px;
  }
}
html body .conteudo.links-home-remodelada header .banners #novo-banner-home {
  position: relative;
  height: 220px;
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada header .banners #novo-banner-home {
    min-height: 220px;
    padding-bottom: 18px;
    height: auto;
  }
}
html body .conteudo.links-home-remodelada header .banners #novo-banner-home #pager {
  z-index: 130;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
html body .conteudo.links-home-remodelada header .banners #novo-banner-home #pager span {
  display: block;
  width: 10px;
  height: 10px;
  line-height: 11px;
  margin: 4px 0;
  transition: background 0.3s ease-in;
  text-align: center;
  border-radius: 100%;
  border: 1px #000 solid;
  cursor: pointer;
  color: #E6E6E6;
}
html body .conteudo.links-home-remodelada header .banners #novo-banner-home #pager span.cycle-pager-active {
  color: #000;
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada header .banners #novo-banner-home #pager {
    position: relative;
    right: auto;
    top: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    text-align: center;
  }
  html body .conteudo.links-home-remodelada header .banners #novo-banner-home #pager span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin: 2px 2px 0 2px;
  }
}
html body .conteudo.links-home-remodelada header .banners #novo-banner-home .banner {
  width: 100%;
}
html body .conteudo.links-home-remodelada header .banners #novo-banner-home .banner a {
  display: block;
  width: 100%;
  height: 220px;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada header .banners #novo-banner-home .banner a {
    height: auto;
  }
}
html body .conteudo.links-home-remodelada header .banners #novo-banner-home .banner .imagem {
  height: 220px;
  margin-right: 30px;
  float: left;
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada header .banners #novo-banner-home .banner .imagem {
    float: none;
    width: 100%;
    height: auto;
    margin-right: 0px;
  }
}
html body .conteudo.links-home-remodelada header .banners #novo-banner-home .banner .imagem img {
  max-height: 220px;
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada header .banners #novo-banner-home .banner .imagem img {
    float: none;
    width: 100%;
    max-height: 600px;
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada header .banners #novo-banner-home .banner .imagem img {
    max-width: 100%;
  }
}
html body .conteudo.links-home-remodelada header .banners #novo-banner-home .banner .texto {
  float: left;
  padding-top: 50px;
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada header .banners #novo-banner-home .banner .texto {
    padding-left: 10px;
    box-sizing: border-box;
    float: none;
    padding-top: 0;
  }
}
html body .conteudo.links-home-remodelada header .banners #novo-banner-home .banner .texto h1 {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #000;
  line-height: 150%;
}
html body .conteudo.links-home-remodelada header .banners #novo-banner-home .banner .texto h2 {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  line-height: 180%;
}
html body .conteudo.links-home-remodelada #mosaico {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 12.5%;
  position: relative;
  outline: 1px #000 solid;
  transition: color 0.3s ease-in;
  overflow: hidden;
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada #mosaico .item-mosaico {
    width: 25%;
  }
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada #mosaico .item-mosaico {
    width: 33%;
  }
  html body .conteudo.links-home-remodelada #mosaico .item-mosaico:last-child {
    display: none;
  }
}
@media (min-width: 941px) and (max-width: 1400px) {
  html body .conteudo.links-home-remodelada #mosaico .item-mosaico {
    width: 25%;
  }
}
@media (min-width: 1220px) and (max-width: 1400px) {
  html body .conteudo.links-home-remodelada #mosaico .item-mosaico:last-child {
    display: none;
  }
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a {
  display: block;
  width: 100%;
  height: 100%;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a img {
  display: block;
  max-width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: all 2.5s ease-out;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-personalidade {
  position: relative;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-personalidade:after {
  content: "";
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.6s ease-in;
  background: #000;
  z-index: 1;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-personalidade span {
  z-index: 2;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  opacity: 0;
  transition: all 0.9s ease-in;
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-personalidade span {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-personalidade span {
    font-size: 16px;
  }
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a:hover span {
  opacity: 1;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a:hover:after {
  opacity: 0.8;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao {
  width: 100%;
  position: relative;
  background: #000;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.categoria {
  width: 100%;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.categoria h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease-in, opacity 0.9s ease-out;
}
@media (min-width: 650px) and (max-width: 940px) {
  html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.categoria h1 {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 649px) {
  html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.categoria h1 {
    font-size: 16px;
  }
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.subcategoria .texto {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.subcategoria h1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease-in, opacity 0.9s ease-out;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.subcategoria h2 {
  margin-top: 10px;
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  font-weight: bold;
  transition: color 0.3s ease-in, opacity 0.9s ease-out;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.link-amarelo {
  color: #FFCC00;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.link-verde-agua {
  color: #66FFCC;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.link-vermelho {
  color: #FF1F44;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.link-azulclaro {
  color: #17D0FF;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.link-rosa {
  color: #FF3CFF;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.link-coral {
  color: #FF417D;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.link-verde {
  color: #009933;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.link-amareloclaro {
  color: #CCFF66;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.link-verdeclaro {
  color: #71FF71;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.link-laranja {
  color: #F26100;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.link-roxo {
  color: #6666FF;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.link-azul {
  color: #1CA6B0;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.link-cinza {
  color: #99CCCC;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.link-salmao {
  color: #FF6666;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao.link-fuchsia {
  color: #CC99CC;
}
html body .conteudo.links-home-remodelada #mosaico .item-mosaico a.link-secao:hover {
  color: #fff;
}
