@import 'vars.less';

html{
	width:100%;
	height:100%;
	body{
		float:left;
		width:100%;
		height:100%;
		&.body-portfolio{
			background: #000;
		}
		.conteudo{
			position: relative;
			width:100%;
			height:100%;

			/*
			.contemCanvas{
				width:100%;
				height:100%;
				z-index:1;
				position:absolute;
				top:0;
				left:0;
				canvas{
					height: 100vh;
  					width: 100vw;
  					display: block;
  					@media @small_portrait, @small_landscape{
  						display: none;
  					}
				}
				.canvasSmall{
					display:none;
					width:100%;
					height:100%;
					z-index:1;
					position:absolute;
					img{
						display: block;
						margin:15px auto 30px auto;
					}
					@media @small_portrait, @small_landscape{
						display:block;
					}
					@media @small_landscape{
						.selo-10-anos{display: none;}
					}
				}
				#canvas .canvasSmall{
					display:block;
				}
				#lista-redes-sociais-home{
					position: absolute;
					z-index:8;
					bottom: 20%;
					white-space: normal;
  					left: 50%;
					transform: translateX(-50%);
					padding: 0 0 10px 0;
					@media @small_portrait{
						bottom: 9%;
					}
					@media @small_landscape{
						white-space: nowrap;
						bottom: 15%;
					}
					@media @medium_portrait{
						white-space: nowrap;
						bottom: 20%;
					}
					@media @medium_landscape{
						bottom: 20%;
					}
					a{
						.inline;
						width: 30px;
						height: 30px;
						margin-right: 2px;
						margin-bottom: 7px;
						img{
							width: 30px;
							height: 30px;
							display: block;
							transition:all .1s ease-out;
							margin: 0;
							opacity: 0.5;
						}
						&:hover img{
							margin: -3px 0 0 0;
							opacity: 1;
						}
						&:last-child{margin-right:0;}
						&#link-snapchat{
							position: relative;
  							span {
								position: absolute;
							  	width:140px;
							  	color: #FFFFFF;
							  	background: #000000;
							  	height: 30px;
							  	line-height: 30px;
							  	text-align: center;
							  	opacity: 0;
							  	border-radius: 6px;
							  	padding: 0 10px;
							  	box-shadow: -2px 2px 0px #807D7F;
							  	transition: opacity .3s ease-out;
							  	bottom: 45px;
								left: 50%;
								transform: translateX(-50%);
							  	.oxygen(12px);
							  	&:after {
								  	content: '';
								  	position: absolute;
								  	top: 100%;
								  	left: 50%;
								  	margin-left: -8px;
								  	width: 0; height: 0;
								  	border-top: 8px solid #000000;
								  	border-right: 8px solid transparent;
								  	border-left: 8px solid transparent;
								}
							}
							&:hover{
								span {
									opacity: 0.9;
									z-index: 999;
								}
							}
						}
					}
				}
			}
			*/

		}
		.contemSubMenu{

			transition: height 0s ease 0s,
						opacity .6s ease-out 0s,
						border 0s linear 0s;

			overflow: hidden;
			opacity:1;
			width:100%;
			height:100%;
			box-sizing:border-box;
			border-bottom:40px #fff solid;
			z-index:992;
			position:absolute;
			top:0;
			left:0;
			display:flex;
			flex-direction:row;
			justify-content:center;
			align-items:stretch;
			cursor:pointer;
			&.escondido{
				border-bottom: 0px #fff solid;
				opacity: 0;
				height: 0;

				transition: height 0s ease .6s,
										opacity .6s ease-out 0s,
										border 0s linear .7s;

			}
			.submenu{
				cursor: default;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				padding-top: 3%;
				padding-bottom: 3%;
				& > li{
					& > a{
						display: block;
						text-align: center;
						.oxygen(38px, bold);
						@media @small_portrait{
								font-size: 18px;
							}
							@media @small_landscape{
								font-size: 15px;
							}
						transition:color .3s ease-out;
					}
				}
			}
			&.contemMenuPrincipal{
				background:url('../img/x-fechar-preto.png') #fff -100px -100px no-repeat;
				.submenu{
					background:#fff;
					& > li > a{
						color:#000;
						&:active, &:visited{color:#000;}
						&:hover, &.ativo{color:#B3B3B3;}
					}
				}
			}
			&.contemMenuAgenciados{
				background:url('../img/x-fechar-branco.png') #000 -100px -100px no-repeat;
				.submenu{
					background:#000;
					padding-right: 30px;
					padding-left: 30px;
					@media @small_portrait, @small_landscape{
						padding-right: 15px;
						padding-left: 15px;
					}
					transition: transform .3s ease-in;
					& > li{
						width:100%;
						position:relative;
						text-align: center;
						& > a{
							color:#FFF;
							text-transform: uppercase;
							display: block;
							transition: color .3s ease-out 0s,
										margin-right .3s ease-out 0s,
										opacity .4s ease-out 0s;
							&:active, &:visited{color:#FFF;}
							&.link-amarelo:hover, &.link-amarelo.ativo,
							&.link-amarelo + .subcategorias > li > a,
							&.link-amarelo + .subcategorias > .wrapper > li > a,
							&.link-amarelo + .subcategorias > li > a:active,
							&.link-amarelo + .subcategorias > .wrapper > li > a:active,
							&.link-amarelo + .subcategorias > li > a:visited,
							&.link-amarelo + .subcategorias > .wrapper > li > a:visited,
							&.link-amarelo + .subcategorias > li > .subpersonalidades > li > a,
							&.link-amarelo + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-amarelo + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-amarelo + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-amarelo + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-amarelo + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-amarelo + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-amarelo + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-amarelo + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-amarelo + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-amarelo + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-amarelo + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-amarelo + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-amarelo + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-amarelo + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-amarelo + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color:#E4FF02;
							}
							&.link-vermelho:hover, &.link-vermelho.ativo,
							&.link-vermelho + .subcategorias > li > a,
							&.link-vermelho + .subcategorias > .wrapper > li > a,
							&.link-vermelho + .subcategorias > li > a:active,
							&.link-vermelho + .subcategorias > .wrapper > li > a:active,
							&.link-vermelho + .subcategorias > li > a:visited,
							&.link-vermelho + .subcategorias > .wrapper > li > a:visited,
							&.link-vermelho + .subcategorias > li > .subpersonalidades > li > a,
							&.link-vermelho + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-vermelho + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-vermelho + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-vermelho + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-vermelho + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-vermelho + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-vermelho + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-vermelho + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-vermelho + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-vermelho + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-vermelho + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-vermelho + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-vermelho + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-vermelho + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-vermelho + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color: #DC2400;
							}
							&.link-pink:hover, &.link-pink.ativo,
							&.link-pink + .subcategorias > li > a,
							&.link-pink + .subcategorias > .wrapper > li > a,
							&.link-pink + .subcategorias > li > a:active,
							&.link-pink + .subcategorias > .wrapper > li > a:active,
							&.link-pink + .subcategorias > li > a:visited,
							&.link-pink + .subcategorias > .wrapper > li > a:visited,
							&.link-pink + .subcategorias > li > .subpersonalidades > li > a,
							&.link-pink + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-pink + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-pink + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-pink + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-pink + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-pink + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-pink + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-pink + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-pink + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-pink + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-pink + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-pink + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-pink + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-pink + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-pink + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color: #FF0066;
							}
							&.link-azul-claro:hover, &.link-azul-claro.ativo,
							&.link-azul-claro + .subcategorias > li > a,
							&.link-azul-claro + .subcategorias > .wrapper > li > a,
							&.link-azul-claro + .subcategorias > li > a:active,
							&.link-azul-claro + .subcategorias > .wrapper > li > a:active,
							&.link-azul-claro + .subcategorias > li > a:visited,
							&.link-azul-claro + .subcategorias > .wrapper > li > a:visited,
							&.link-azul-claro + .subcategorias > li > .subpersonalidades > li > a,
							&.link-azul-claro + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-azul-claro + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-azul-claro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-azul-claro + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-azul-claro + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-azul-claro + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-azul-claro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-azul-claro + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-azul-claro + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-azul-claro + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-azul-claro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-azul-claro + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-azul-claro + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-azul-claro + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-azul-claro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color: #00FFFF;
							}
							&.link-rosa:hover, &.link-rosa.ativo,
							&.link-rosa + .subcategorias > li > a,
							&.link-rosa + .subcategorias > .wrapper > li > a,
							&.link-rosa + .subcategorias > li > a:active,
							&.link-rosa + .subcategorias > .wrapper > li > a:active,
							&.link-rosa + .subcategorias > li > a:visited,
							&.link-rosa + .subcategorias > .wrapper > li > a:visited,
							&.link-rosa + .subcategorias > li > .subpersonalidades > li > a,
							&.link-rosa + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-rosa + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-rosa + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-rosa + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-rosa + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-rosa + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-rosa + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-rosa + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-rosa + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-rosa + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-rosa + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-rosa + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-rosa + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-rosa + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-rosa + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color: #FF6699;
							}
							&.link-branco:hover, &.link-branco.ativo,
							&.link-branco + .subcategorias > li > a,
							&.link-branco + .subcategorias > .wrapper > li > a,
							&.link-branco + .subcategorias > li > a:active,
							&.link-branco + .subcategorias > .wrapper > li > a:active,
							&.link-branco + .subcategorias > li > a:visited,
							&.link-branco + .subcategorias > .wrapper > li > a:visited,
							&.link-branco + .subcategorias > li > .subpersonalidades > li > a,
							&.link-branco + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-branco + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-branco + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-branco + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-branco + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-branco + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-branco + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-branco + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-branco + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-branco + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-branco + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-branco + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-branco + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-branco + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-branco + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color: #FFFFFF;
							}
							&.link-coral:hover, &.link-coral.ativo,
							&.link-coral + .subcategorias > li > a,
							&.link-coral + .subcategorias > .wrapper > li > a,
							&.link-coral + .subcategorias > li > a:active,
							&.link-coral + .subcategorias > .wrapper > li > a:active,
							&.link-coral + .subcategorias > li > a:visited,
							&.link-coral + .subcategorias > .wrapper > li > a:visited,
							&.link-coral + .subcategorias > li > .subpersonalidades > li > a,
							&.link-coral + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-coral + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-coral + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-coral + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-coral + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-coral + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-coral + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-coral + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-coral + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-coral + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-coral + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-coral + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-coral + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-coral + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-coral + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color:#FF417D;
							}
							&.link-verde:hover, &.link-verde.ativo,
							&.link-verde + .subcategorias > li > a,
							&.link-verde + .subcategorias > .wrapper > li > a,
							&.link-verde + .subcategorias > li > a:active,
							&.link-verde + .subcategorias > .wrapper > li > a:active,
							&.link-verde + .subcategorias > li > a:visited,
							&.link-verde + .subcategorias > .wrapper > li > a:visited,
							&.link-verde + .subcategorias > li > .subpersonalidades > li > a,
							&.link-verde + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-verde + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-verde + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-verde + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-verde + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-verde + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-verde + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-verde + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-verde + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-verde + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-verde + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-verde + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-verde + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-verde + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-verde + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color: #33CC99;
							}
							&.link-abacate:hover, &.link-abacate.ativo,
							&.link-abacate + .subcategorias > li > a,
							&.link-abacate + .subcategorias > .wrapper > li > a,
							&.link-abacate + .subcategorias > li > a:active,
							&.link-abacate + .subcategorias > .wrapper > li > a:active,
							&.link-abacate + .subcategorias > li > a:visited,
							&.link-abacate + .subcategorias > .wrapper > li > a:visited,
							&.link-abacate + .subcategorias > li > .subpersonalidades > li > a,
							&.link-abacate + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-abacate + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-abacate + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-abacate + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-abacate + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-abacate + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-abacate + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-abacate + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-abacate + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-abacate + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-abacate + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-abacate + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-abacate + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-abacate + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-abacate + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color: #99FF00;
							}
							&.link-amareloclaro:hover, &.link-amareloclaro.ativo,
							&.link-amareloclaro + .subcategorias > li > a,
							&.link-amareloclaro + .subcategorias > .wrapper > li > a,
							&.link-amareloclaro + .subcategorias > li > a:active,
							&.link-amareloclaro + .subcategorias > .wrapper > li > a:active,
							&.link-amareloclaro + .subcategorias > li > a:visited,
							&.link-amareloclaro + .subcategorias > .wrapper > li > a:visited,
							&.link-amareloclaro + .subcategorias > li > .subpersonalidades > li > a,
							&.link-amareloclaro + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-amareloclaro + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-amareloclaro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-amareloclaro + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-amareloclaro + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-amareloclaro + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-amareloclaro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-amareloclaro + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-amareloclaro + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-amareloclaro + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-amareloclaro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-amareloclaro + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-amareloclaro + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-amareloclaro + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-amareloclaro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color: #E4FF02;
							}
							&.link-ouro:hover, &.link-ouro.ativo,
							&.link-ouro + .subcategorias > li > a,
							&.link-ouro + .subcategorias > .wrapper > li > a,
							&.link-ouro + .subcategorias > li > a:active,
							&.link-ouro + .subcategorias > .wrapper > li > a:active,
							&.link-ouro + .subcategorias > li > a:visited,
							&.link-ouro + .subcategorias > .wrapper > li > a:visited,
							&.link-ouro + .subcategorias > li > .subpersonalidades > li > a,
							&.link-ouro + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-ouro + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-ouro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-ouro + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-ouro + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-ouro + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-ouro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-ouro + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-ouro + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-ouro + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-ouro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-ouro + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-ouro + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-ouro + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-ouro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color: #E3BE05;
							}
							&.link-bege:hover, &.link-bege.ativo,
							&.link-bege + .subcategorias > li > a,
							&.link-bege + .subcategorias > .wrapper > li > a,
							&.link-bege + .subcategorias > li > a:active,
							&.link-bege + .subcategorias > .wrapper > li > a:active,
							&.link-bege + .subcategorias > li > a:visited,
							&.link-bege + .subcategorias > .wrapper > li > a:visited,
							&.link-bege + .subcategorias > li > .subpersonalidades > li > a,
							&.link-bege + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-bege + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-bege + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-bege + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-bege + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-bege + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-bege + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-bege + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-bege + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-bege + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-bege + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-bege + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-bege + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-bege + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-bege + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color: #FF9933;
							}
							&.link-verdeclaro:hover, &.link-verdeclaro.ativo,
							&.link-verdeclaro + .subcategorias > li > a,
							&.link-verdeclaro + .subcategorias > .wrapper > li > a,
							&.link-verdeclaro + .subcategorias > li > a:active,
							&.link-verdeclaro + .subcategorias > .wrapper > li > a:active,
							&.link-verdeclaro + .subcategorias > li > a:visited,
							&.link-verdeclaro + .subcategorias > .wrapper > li > a:visited,
							&.link-verdeclaro + .subcategorias > li > .subpersonalidades > li > a,
							&.link-verdeclaro + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-verdeclaro + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-verdeclaro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-verdeclaro + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-verdeclaro + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-verdeclaro + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-verdeclaro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-verdeclaro + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-verdeclaro + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-verdeclaro + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-verdeclaro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-verdeclaro + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-verdeclaro + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-verdeclaro + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-verdeclaro + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color:#71FF71;
							}
							&.link-laranja:hover, &.link-laranja.ativo,
							&.link-laranja + .subcategorias > li > a,
							&.link-laranja + .subcategorias > .wrapper > li > a,
							&.link-laranja + .subcategorias > li > a:active,
							&.link-laranja + .subcategorias > .wrapper > li > a:active,
							&.link-laranja + .subcategorias > li > a:visited,
							&.link-laranja + .subcategorias > .wrapper > li > a:visited,
							&.link-laranja + .subcategorias > li > .subpersonalidades > li > a,
							&.link-laranja + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-laranja + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-laranja + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-laranja + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-laranja + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-laranja + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-laranja + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-laranja + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-laranja + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-laranja + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-laranja + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-laranja + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-laranja + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-laranja + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-laranja + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color: #FF6600;
							}
							&.link-roxo:hover, &.link-roxo.ativo,
							&.link-roxo + .subcategorias > li > a,
							&.link-roxo + .subcategorias > .wrapper > li > a,
							&.link-roxo + .subcategorias > li > a:active,
							&.link-roxo + .subcategorias > .wrapper > li > a:active,
							&.link-roxo + .subcategorias > li > a:visited,
							&.link-roxo + .subcategorias > .wrapper > li > a:visited,
							&.link-roxo + .subcategorias > li > .subpersonalidades > li > a,
							&.link-roxo + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-roxo + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-roxo + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-roxo + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-roxo + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-roxo + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-roxo + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-roxo + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-roxo + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-roxo + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-roxo + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-roxo + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-roxo + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-roxo + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-roxo + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color:#6666FF;
							}
							&.link-azul:hover, &.link-azul.ativo,
							&.link-azul + .subcategorias > li > a,
							&.link-azul + .subcategorias > .wrapper > li > a,
							&.link-azul + .subcategorias > li > a:active,
							&.link-azul + .subcategorias > .wrapper > li > a:active,
							&.link-azul + .subcategorias > li > a:visited,
							&.link-azul + .subcategorias > .wrapper > li > a:visited,
							&.link-azul + .subcategorias > li > .subpersonalidades > li > a,
							&.link-azul + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-azul + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-azul + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-azul + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-azul + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-azul + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-azul + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-azul + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-azul + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-azul + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-azul + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-azul + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-azul + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-azul + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-azul + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color: #66FFCC;
							}
							&.link-cinza:hover, &.link-cinza.ativo,
							&.link-cinza + .subcategorias > li > a,
							&.link-cinza + .subcategorias > .wrapper > li > a,
							&.link-cinza + .subcategorias > li > a:active,
							&.link-cinza + .subcategorias > .wrapper > li > a:active,
							&.link-cinza + .subcategorias > li > a:visited,
							&.link-cinza + .subcategorias > .wrapper > li > a:visited,
							&.link-cinza + .subcategorias > li > .subpersonalidades > li > a,
							&.link-cinza + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-cinza + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-cinza + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-cinza + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-cinza + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-cinza + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-cinza + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-cinza + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-cinza + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-cinza + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-cinza + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-cinza + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-cinza + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-cinza + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-cinza + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color:#99CCCC;
							}
							&.link-salmao:hover, &.link-salmao.ativo,
							&.link-salmao + .subcategorias > li > a,
							&.link-salmao + .subcategorias > .wrapper > li > a,
							&.link-salmao + .subcategorias > li > a:active,
							&.link-salmao + .subcategorias > .wrapper > li > a:active,
							&.link-salmao + .subcategorias > li > a:visited,
							&.link-salmao + .subcategorias > .wrapper > li > a:visited,
							&.link-salmao + .subcategorias > li > .subpersonalidades > li > a,
							&.link-salmao + .subcategorias > li > .subpersonalidades > .wrapper > li > a,
							&.link-salmao + .subcategorias > .wrapper > li > .subpersonalidades > li > a,
							&.link-salmao + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a,
							&.link-salmao + .subcategorias > li > .subpersonalidades > li > a:active,
							&.link-salmao + .subcategorias > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-salmao + .subcategorias > .wrapper > li > .subpersonalidades > li > a:active,
							&.link-salmao + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:active,
							&.link-salmao + .subcategorias > li > .subpersonalidades > li > a:visited,
							&.link-salmao + .subcategorias > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-salmao + .subcategorias > .wrapper > li > .subpersonalidades > li > a:visited,
							&.link-salmao + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a:visited,
							&.link-salmao + .subcategorias > li > .subpersonalidades > li > a.ativo,
							&.link-salmao + .subcategorias > li > .subpersonalidades > .wrapper > li > a.ativo,
							&.link-salmao + .subcategorias > .wrapper > li > .subpersonalidades > li > a.ativo,
							&.link-salmao + .subcategorias > .wrapper > li > .subpersonalidades > .wrapper > li > a.ativo{
								color:#FF6666;
							}
						}
						ul.subcategorias{
							opacity: 0;
							transition: opacity .2s ease-in;
							height: 0;
							overflow: hidden;
							position: absolute;
							left: 100%;
							top: -30px;
							padding: 0px;
							background: #000;
							margin-left: 30px;
							z-index: 1;
							@media @small_portrait, @small_landscape{
								margin-left:0px;
							}
							& > .wrapper > li,
							& > li{
								display: block;
								height:auto;
								margin: 0 0 5px 0;
								@media @small_landscape{
									margin: 0 0 5px 0;
								}
								position: relative;
								& > a{
									white-space: nowrap;
									display: block;
									text-align:left;
									.oxygen(16px, bold);
									@media @small_portrait, @small_landscape{
										font-size: 13px;
										font-weight: normal;
									}
									transition: color .3s ease-out 0s;
									&:hover, &.ativo, &.ativo-inicial{
										color:#fff !important;
									}
									small{
										font-size: 11px;
										text-transform: lowercase;
									}
								}
								& > ul.subpersonalidades{
									z-index:99999999992;
									opacity:0;
									height:0;
									overflow: hidden;
									position:absolute;
									left:100%;
									top:-30px;
									padding:0px;
									margin-left:30px;
									@media @small_portrait, @small_landscape{
										margin-left:5px;
									}
									transition: opacity .3s ease-in;
									background:#000;
									li{
										display: block;
										margin:0 0 6px 0;
										a{
											transition: color .3s ease-in;
											white-space:nowrap;
											display: block;
											text-align:left;
											.oxygen(18px);
											@media @small_portrait, @small_landscape{
												font-size: 12px;
											}
											&:hover, &.ativo{color:#fff !important;}
										}
									}
								}
							}
							&.subpersonalidades{
								a{
									.oxygen(18px);
									white-space: nowrap;
									&.ativo-inicial{
										color:#fff !important;
									}
								}
							}
							&.overflow-visivel{
								overflow: visible;
							}
							& > .wrapper{
								padding:30px;
							}
							&.com-wrapper{
								padding : 0 !important;
							}
							& > .wrapper > li.subpersonalidades-aberto,
							& > li.subpersonalidades-aberto{
								& > .wrapper ul.subpersonalidades,
								& > ul.subpersonalidades{
									padding:30px;
									opacity:1;
									height: auto;
									&.com-wrapper{
										padding : 0 !important;
									}
									& > .wrapper{
										padding:30px;
									}
								}
							}
						}
					}
					&.alinhamento-direita{
						& > li > a{
							text-align: right;
							margin-right:0 !important;
						}
					}
					&.subcategorias-aberto{
						transform: translateX(-50%);
						@media @small_portrait{
							transform: translateX(-95%);
							& > li > a{opacity: 0;}
						}
						li.subcategorias-aberto ul.subcategorias{
							padding: 30px;
							opacity:1;
							height:auto;
						}
					}
				}
			}
		}
		.menu{
			position: fixed;
			bottom: 0;
			left:0;
			z-index:993;
			width:100%;
			height:40px;
			font-size: 0;
			background:#fff;
			.link{
				box-sizing:border-box;
				height:40px;
				line-height:40px;
				width:50%;
				//text-indent: -9000px;
				overflow: hidden;
				outline:1px #111 solid;
				.oxygen(22px, bold);
				transition:background-color .3s ease-out,
							border .3s ease-out;
				.inline;
				&.link-submenu{
					text-align: right;
					color:#000;
					border-right: 15px #fff solid;
					background:url('../img/marca-cq-menu.png') #FFF 100% center no-repeat;
					span{
						margin-right: 72px;
						opacity:1;
						transition:all .3s ease-in;
						@media  @small_portrait,
								@small_landscape,
									@medium_portrait,
									@medium_landscape{
											opacity:1;
											margin-right: 72px;
						}

					}
					@media @small_portrait{
						border-right: 5px #fff solid;
						font-size:11px;
					}
					@media @small_landscape{
						font-size: 20px;
					}
					&:hover, &.ativo{
						border-right: 15px #CCC solid;
						background-color:#CCCCCC;
						@media @small_portrait{border-right: 5px #CCC solid;}
					}
				}
				&.link-agenciados{
					text-align: left;
					color:#fff;
					border-left: 15px #000 solid;
					background:url('../img/plus-menu.png') #000 0 center no-repeat;
					span{
						margin-left: 35px;
						opacity:1;
						transition:all .3s ease-in;
						@media  @small_portrait,
								@small_landscape,
									@medium_portrait,
									@medium_landscape{
											opacity:1;
											margin-left: 35px;
									}
					}
					@media @small_portrait{
						border-left:5px #000 solid;
						font-size:11px;
						span{
							margin-left: 25px;
						}
					}
					@media @small_landscape{
						font-size: 17px;
					}
					&:hover, &.ativo{
						border-left: 15px #96989A solid;
						background-color:#96989A;
						@media @small_portrait{border-left: 5px #96989A solid;}
					}
				}
			}
		}
		.contemTextoImagem{
			width:100%;
			height:100%;
			box-sizing:border-box;
			border-bottom: 40px #fff solid;
			z-index:2;
			position:absolute;
			top:0;
			left:0;
			background:#fff;

			display:flex;
			flex-direction:row;
			justify-content:center;
			align-items:stretch;

			@media @small_portrait, @small_landscape{
				overflow: hidden;
				flex-direction:column;
			}
			section{
				flex-basis:50%;
				//max-height: 100%;
				//overflow: auto;
				overflow: hidden;
				position: relative;
				@media @small_portrait, @small_landscape{
					background:#fff;
					overflow: visible;
					flex-basis:100%;
					width:100%;
					order:2;
					z-index:9;
				}
				.padding-interno{
					@media @small_portrait, @small_landscape{
						background:#fff;
					}
					box-sizing: border-box;
					padding:20px 20% 20px 20px;
					max-width: 100%;
				}
				h1{
					margin:0 0 15px 0;
					color:#000;
					.oxygen(20px, bold);
					line-height:130%;
				}
				p{
					margin:0 0 15px 0;
					color:#000;
					.oxygen(14px);
					line-height:130%;
					strong{font-weight: bold;}
				}
				ul li, ol li{
					color:#000;
					.oxygen(14px);
					line-height:130%;
					strong{font-weight: bold;}
				}
				strong{ font-weight: bold; }
				em{ font-style: italic; }
				ul{ list-style: inside disc; }
				ol{ list-style: inside decimal; }
				p a{
					font-weight: bold;
					&:active, &:visited{color:#000}
					&:hover{text-decoration: underline;}
				}
				.lista-redes-sociais{
					padding: 0 0 10px 0;
					a{
						.inline;
						width: 30px;
						height: 30px;
						margin-right: 2px;
						margin-bottom: 4px;
						img{
							width: 30px;
							height: 30px;
							display: block;
							transition:all .1s ease-out;
							margin: 0;
							opacity: 0.5;
						}
						&:hover img{
							margin: -3px 0 0 0;
							opacity: 1;
						}
						&#link-snapchat{
							position: relative;
								span {
								position: absolute;
									width:140px;
									color: #FFFFFF;
									background: #000000;
									height: 30px;
									line-height: 30px;
									text-align: center;
									opacity: 0;
									border-radius: 6px;
									padding: 0 10px;
									box-shadow: -2px 2px 0px #807D7F;
									transition: opacity .3s ease-out;
									bottom: 45px;
								left: 50%;
								transform: translateX(-50%);
									.oxygen(12px);
									&:after {
										content: '';
										position: absolute;
										top: 100%;
										left: 50%;
										margin-left: -8px;
										width: 0; height: 0;
										border-top: 8px solid #000000;
										border-right: 8px solid transparent;
										border-left: 8px solid transparent;
								}
							}
							&:hover{
								span {
									opacity: 0.9;
									z-index: 999;
								}
							}
						}
					}
				}
			}
			aside{
				border-left:1px #000 solid;
				flex-basis:50%;
				background-position:center center;
				background-repeat:no-repeat;
				background-size:cover;
				@media @small_portrait, @small_landscape{
					flex-basis:100%;
					width:100%;
					order:1;
				}
				&.asideImagens{
					background-color: #000;
					overflow: hidden;
					position:relative;
					@media @small_portrait, @small_landscape{
						z-index:7;
					}
				}
				.listaImagens{
					background-color:#000;
					overflow: auto;
					position: relative;
					.imagemBox{
						float:left;
						width:25%;
						overflow: hidden;
						img{
							display: block;
							max-width: 100%;
						}
						@media @medium_portrait{
							width:50%;
						}
						@media @medium_landscape{
							width:33%;
						}
						@media @small_portrait{
							width:33%;
						}
					}
				}
				&.asideImagensCycle{
					background-color: #000;
					overflow: hidden;
					position:relative;
					ul.listaImagensCycle{
						position: absolute;
						height: 100%;
						width: 100%;
						top:0;
						left:0;
						.imagemBoxCycle{
							position:absolute;
							top:0;
							left:0;
							width: 100%;
							height: 100%;
							background-color: #000;
							.paddingCycle{
								width: 100%;
								height: 100%;
								top: 0;
								left: 0;
								position: relative;
								padding: 10% 8%;
								box-sizing: border-box;
								img{
									display: block;
									margin: 0 auto;
									max-width: 100%;
									max-height: 100%;
									position: relative;
									top: 50%;
									transform: translateY(-50%);
								}
							}
						}
					}
					.cycle-nav{
						display: block;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						width: 40px;
						height: 40px;
						z-index: 9999999;
						&#cycle-prev{ left: 0; }
						&#cycle-next{ right: 0; }
					}
				}
			}
		}
		.contemContato{
			width:100%;
			height:100%;
			box-sizing: border-box;
			border-bottom: 40px #fff solid;
			z-index:2;
			position:absolute;
			top:0;
			left:0;
			background:#fff;

			display:flex;
			flex-direction:row;
			justify-content:center;
			align-items:stretch;

			@media @small_portrait, @small_landscape{
				overflow: hidden;
				flex-direction:column;
			}

			.ladoContato{
				flex-basis:50%;
				overflow: hidden;
				position: relative;
				@media @small_portrait, @small_landscape{
					background: #fff;
					overflow: visible;
					flex-basis:100%;
					width: 100%;
					z-index: 9;
					order:1;
				}
				&.ladoBranco{
					.mapa_mobile{
						display: none;
					}
					@media @small_portrait, @small_landscape{
						.mapa_mobile{
							display: block;
							.endereco{
								color:#000;
								.oxygen(16px);
								margin:15px 0;
								line-height:150%;
							}
							.mapa{
								margin-bottom: 15px;
								.oxygen(10px);
								a{
									color:#FFF;
									&:active, &:visited{color:#FFF;}
								}
								iframe{
									width: 100%;
									height: 200px;
								}
							}
							.contato-enviado{
								color:#000;
							}
						}
					}
				}
				&.ladoPreto{
					background:#000;
					@media @small_portrait, @small_landscape{
						display: none;
					}
				}
				.contato-enviado{
					text-align: center;
					padding:30px 0;
					.oxygen(18px);
					color:#FFF;
					line-height: 140%;
					@media @small_portrait, @small_landscape{
						padding-bottom:50px;
					}
				}
				.padding-interno{
					@media @small_portrait, @small_landscape{
						background:#fff;
					}
					box-sizing:border-box;
					padding: 20px;
					max-width: 100%;
					h1{
						color:#000;
						.oxygen(18px, bold);
					}
					strong{ font-weight: bold; }
					em{ font-style: italic; }
					ul{ list-style: inside disc; }
					ol{ list-style: inside decimal; }
					a{
						font-weight: bold;
						&:active, &:visited{color:#000}
						&:hover{text-decoration: underline;}
					}
					.telefone{
						color:#000;
						.oxygen(16px);
						margin:15px 0;
						line-height:150%;
					}
					form{
						@media @medium_portrait{
							width:100%;
						}
						@media @small_portrait, @small_landscape{
							width:100%;
							padding-bottom:50px;
						}
						input[type="text"],
						input[type="email"],
						textarea{
							width:100%;
							box-sizing:border-box;
							height:30px;
							line-height:30px;
							padding:4px 10px;
							margin:0 0 5px 0;
							background:#333;
							color:#fff;
							border:0;
							.oxygen(14px, bold);
							.placeholder(#fff);
						}
						textarea{
							height:150px;
							line-height:150%;
							resize:none;
							overflow:auto;
						}
						input[type="submit"]{
							width:100%;
							box-sizing:border-box;
							height:30px;
							line-height:30px;
							color:#fff;
							background:#666;
							margin:0;
							padding:0;
							.oxygen(14px, bold);
							&:hover{cursor:pointer;}
						}
					}
					.mapa-endereco{
						font-size:0;
						margin-bottom: 20px;
						.endereco{
							.inline;
							width: 45%;
							color:#FFF;
							.oxygen(16px);
							margin:15px 0;
							line-height:150%;
						}
						.mapa{
							.inline;
							width: 55%;
							.oxygen(10px);
							a{
								color:#FFF;
								&:active, &:visited{color:#FFF;}
							}
							iframe{
								width: 100%;
								height: 200px;
							}
						}
						@media @small_portrait, @small_landscape{
							.endereco,
							.mapa{
								color:#000;
								display:block;
								width:100%;
							}
						}
					}
				}
			}

		}
		#modulo-entrada{
			width: 100%;
			height: 100%;
			position: relative;
			top: 0;
			left: 0;
			#camada-nome{
				position: fixed;
				z-index: 10;
				left: 5%;
				top: 10%;
				max-width: 25%;
				display: block;
				border-left: 30px transparent solid;
				@media @small_portrait, @small_landscape{
					left: 0%;
					top: 2%;
					max-width: 100%;
				}
				@media @medium_portrait{
					left: 3%;
					top: 5%;
				}
				.nome{
					line-height: 130%;
					text-transform: uppercase;
					transition: color .6s ease-in;
					.oxygen(85px, bold);
					@media @small_portrait, @small_landscape{
						font-size: 30px;
					}
					img{
						opacity: 0;
						display: block;
						max-width: 40px;
						max-height: 40px;
						@media @small_portrait, @small_landscape{
							max-width: 20px;
							max-height: 20px;
						}
					}
				}
				&.full{
					width: 100%;
					max-width:100%;
					height:100%;
					left:0;
					top:0;
					border-left:0;
					.nome{
						max-width: 25%;
						position: absolute;
						top:10%;
						left:5%;
						.ver-detalhes-img{
							opacity:1 !important;
						}
					}
				}
			}
			#camada-imagem-entrada{
				width:100%;
				height:100%;
				position:absolute;
				z-index:1;
				top:0;
				left:0;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				@media @small_portrait{
					background-size: 100% auto;
				}
				@media @small_landscape{
					background-size: cover;
					background-position: top center;
				}
				@media @medium_portrait{
					background-size: 100% auto;
					background-position: center center;
				}
				@media @medium_landscape{}
			}

			/*
			#camada-paralaxe{
				&.paralaxe-wrapper{
					position: absolute;
					width:100%;
					height: 100%;
					z-index:9;
					overflow: hidden;
					.paralaxe-move{
						position: relative;
						height:200%;
						#paralaxe-scroll{
							width:100%;
							height:50%;
							box-sizing: border-box;
							position: relative;
							z-index:8;
							display: block;
							top:0;
							left:0;
							.scroll-down{
								height:30px;
								line-height:30px;
								position:absolute;
								white-space: nowrap;
								left:99%;
								bottom:45px;
								@media @small_portrait{
									bottom:45px;
								}
								transform-origin:left bottom;
								transform:rotate(-90deg);
								opacity:.8;
								.oxygen(12px);
								span.seta{
									font-size: 31px;
									vertical-align: -4px;
										margin-right: 4px;
								}
								.animated {
										-webkit-animation-duration: 2s;
										-webkit-animation-fill-mode: both;
										-webkit-animation-iteration-count:infinite;
										animation-duration: 2s;
										animation-fill-mode: both;
										animation-iteration-count:infinite;
								}
								.bounce {
										-webkit-animation-name: bounce;
										animation-name: bounce;
								}
							}
						}
						#modulo-paralaxe{
							width:100%;
							height:50%;
							box-sizing: border-box;
							position: relative;
							background-color: #000;
							border-top:30px transparent solid;
							border-right:30px transparent solid;
							border-bottom:70px transparent solid;
							border-left:30px transparent solid;
							overflow: hidden;
							a{
								display: block;
								width: 100%;
								height: 100%;
								position: relative;
							}
							.prlx-img-wrapper{
								position: absolute;
								top:0;
								left:0;
								width: 100%;
								height: 100%;
								z-index: 997;
							}
							.imagem-paralaxe{
								position:absolute;
								img{
									opacity:1;
									max-width: 100%;
									max-height: 100%;
									display: block;
									margin: 0 auto;
								}
							}
							@media @large{
								&.imagens-1{
									.imagem1{
										top: 50%;
										left: 50%;
										width: 100%;
										transform: translateX(-50%) translateY(-50%);
									}
								}
								&.imagens-2{
									.imagem1{
										top: 10%;
										left: 10%;
										width: 50%;
									}
									.imagem2{
										bottom: 10%;
										right: 10%;
										width: 50%;
									}
								}
								&.imagens-3{
									.imagem1{
										bottom: 0;
										left: 0;
										width: 40%;
									}
									.imagem2{
										top: 0;
										right: 0;
										width: 40%;
									}
									.imagem3{
										top: 50%;
										left: 50%;
										width: 30%;
										transform: translateX(-50%) translateY(-50%);
									}
								}
								&.imagens-4{
									.imagem1{
										top: 0;
										right: 0;
										width: 55%;
									}
									.imagem2{
										bottom: 0;
										left: 0;
										width: 55%;
									}
									.imagem3{
										top: 40%;
										right: 50%;
										width: 50%;
										transform: translateX(50%) translateY(-50%);
									}
									.imagem4{
										bottom: 0;
										right: 1%;
										width: 40%;
									}
								}
								&.imagens-5{
									.imagem1{
										top: 0;
										right: 0;
										width: 55%;
									}
									.imagem2{
										bottom: 0;
										left: 0;
										width: 55%;
									}
									.imagem3{
										top: 40%;
										right: 50%;
										width: 50%;
										transform: translateX(50%) translateY(-50%);
									}
									.imagem4{
										bottom: 10%;
										right: 1%;
										width: 20%;
									}
									.imagem5{
										bottom: 5%;
										right: 18%;
										width: 20%;
									}
								}
							}
							@media @small_portrait, @medium_portrait{
								&.imagens-1{
									.imagem1{
										top: 50%;
										left: 50%;
										width: 100%;
										transform: translateX(-50%) translateY(-50%);
									}
								}
								&.imagens-2{
									.imagem1{
										top: 30%;
										left: 50%;
										width: 100%;
										transform: translateX(-50%) translateY(-50%);
									}
									.imagem2{
										top: 70%;
										left: 50%;
										width: 100%;
										transform: translateX(-50%) translateY(-50%);
									}
								}
								&.imagens-3{
									.imagem1{
										top: 15%;
										right: 10%;
										width: 80%;
									}
									.imagem2{
										bottom: 10%;
										left: 0;
										width: 60%;
									}
									.imagem3{
										bottom: 30%;
										right: 0;
										width: 55%;
									}
								}
								&.imagens-4{
									.imagem1{
										top: 0;
										right: 0;
										width: 90%;
									}
									.imagem2{
										top: 10%;
										left: 0;
										width: 90%;
									}
									.imagem3{
										top: 30%;
										right: 0;
										width: 90%;
									}
									.imagem4{
										top: 60%;
										right: 0;
										width: 80%;
									}
								}
								&.imagens-5{
									.imagem1{
										top: 0;
										right: 0;
										width: 90%;
									}
									.imagem2{
										top: 10%;
										left: 0;
										width: 90%;
									}
									.imagem3{
										top: 30%;
										right: 0;
										width: 90%;
									}
									.imagem4{
										top: 60%;
										right: 0;
										width: 80%;
									}
									.imagem5{
										bottom: 10%;
										left: 1%;
										width: 50%;
									}
								}
							}
							@media @small_landscape, @medium_landscape{
								&.imagens-1{
									.imagem1{
										top: 50%;
										left: 50%;
										width: 100%;
										transform: translateX(-50%) translateY(-50%);
										img{
											display: block;
											margin: 0 auto;
										}
									}
								}
								&.imagens-2{
									.imagem1{
										top: 10%;
										left: 10%;
										width: 50%;
									}
									.imagem2{
										bottom: 10%;
										right: 10%;
										width: 50%;
									}
								}
								&.imagens-3{
									.imagem1{
										bottom: 0;
										left: 0;
										width: 40%;
									}
									.imagem2{
										top: 0;
										right: 0;
										width: 40%;
									}
									.imagem3{
										top: 50%;
										left: 50%;
										width: 30%;
										transform: translateX(-50%) translateY(-50%);
									}
								}
								&.imagens-4{
									.imagem1{
										top: 0;
										right: 0;
										width: 55%;
									}
									.imagem2{
										bottom: 0;
										left: 0;
										width: 55%;
									}
									.imagem3{
										top: 40%;
										right: 50%;
										width: 50%;
										transform: translateX(50%) translateY(-50%);
									}
									.imagem4{
										bottom: 0;
										right: 1%;
										width: 20%;
									}
								}
								&.imagens-5{
									.imagem1{
										top: 0;
										right: 0;
										width: 55%;
									}
									.imagem2{
										bottom: 0;
										left: 0;
										width: 55%;
									}
									.imagem3{
										top: 40%;
										right: 50%;
										width: 50%;
										transform: translateX(50%) translateY(-50%);
									}
									.imagem4{
										bottom: 0;
										right: 1%;
										width: 20%;
									}
									.imagem5{
										bottom: 15%;
										right: 18%;
										width: 20%;
									}
								}
							}
							/*
							.imagem1{
								position:absolute;
								bottom:0;
								left:0;
								max-width:30%;
								@media @medium_portrait{
									max-width:50%;
								}
								@media @small_portrait{
									bottom: -5%;
									left: -10%;
									max-width: 60%;
								}
								@media @small_landscape{
									bottom: -5%;
									left: -7%;
									max-width: 40%;
								}
							}
							.imagem2{
								position:absolute;
								left:50%;
								top:50%;
								max-width:50%;
								transform:translateX(-50%) translateY(-50%);
								@media @medium_portrait{
									max-width:70%;
								}
								@media @small_portrait{
									max-width:100%;
									width: 70%;
								}
							}
							.imagem3{
								position:absolute;
								top:0;
								right:0;
								max-width:30%;
								@media @medium_portrait{
									max-width:50%;
								}
								@media @small_portrait{
									max-width: 77%
								}
							}
							.imagem4{
								position:absolute;
								right:4%;
								bottom:25%;
								max-width: 10%;
								@media @medium_portrait{
									max-width:18%;
								}
								@media @small_portrait{
									right: 0;
									bottom: 0;
									max-width: 30%;
								}
								@media @small_landscape{
									bottom: 0;
									right: 0;
									max-width: 16%;
								}
							}
							.imagem5{
								position:absolute;
								right:12%;
								bottom:15%;
								max-width: 10%;
								@media @small_portrait, @small_landscape{
									bottom: 55%;
								}
								@media @small_portrait{
									bottom: 27%;
									right: 27%;
									max-width: 24%;
								}
								@media @small_landscape{
									bottom: 40%;
									right: 18%;
									max-width: 16%;
								}
							}

						}
					}
				}
			}
			*/

		}
		.escondeOverflow{
			overflow: hidden;
			position: relative;
			width:100%;
			height: 100%;
			#seta-navegacao{
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-100%);
					display: none;
					width: 40px;
					height: 40px;
					z-index: 999;
					img{
					width: 40px;
						height: 40px;
					}
					&.fundoBranco{
						@media @small_portrait{
							transition: background-color .4s ease-out;
							background-color: rgba(255,255,255,0.4);
						}
					}
				}
				#seta-navegacao-esquerda{
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-100%);
					display: none;
					width: 40px;
					height: 40px;
					z-index: 999;
					img{
						transform: rotate(180deg);
					width: 40px;
						height: 40px;
					}
				}
		}
		.contemModulos{
			position: absolute;
			width:100%;
			height: 100%;
			padding-bottom: 40px;
				box-sizing: border-box;
				white-space: nowrap;
				font-size: 0;
				.personalidades-modulo{
				.inline;
				box-sizing: border-box;
				width:25%;
				height: 100%;
				white-space: normal;
				border-right:1px #000 solid;
				background: #FFF;
				position: relative;
				.padding-modulos{
					padding:20px;
					position: relative;
					min-height: 100%;
					box-sizing: border-box;
					@media @small_portrait, @small_landscape{
						padding:5px 5px 120px 5px;
					}
					.btn-download{
						width:103px;
						display:block;
					}
					.btn-visitar-site{
						width:103px;
						display:block;
						margin-top:15px;
					}
				}
				.titulo{
					color:#000;
					.oxygen(20px, bold);
					@media @small_portrait, @small_landscape{
						font-size: 16px;
					}
				}
			}
			.modulo-imagens-padrao{
				.listaImagens{
					margin:10px 0;
					width:100%;
					@media @small_landscape{
						width:70%;
						margin:10px auto;
					}
					.imagem{
						width:100%;
						img{
							max-width: 100%;
						}
					}
				}
				.pager{
					width:100%;
					white-space: normal;
					span{
						.oxygen(30px);
						margin-right:6px;
						transition:color .3s ease-in;
						.inline;
						&:hover{
							cursor: pointer;
							color:#CCC;
						}
						&.cycle-pager-active{color:#CCC;}
					}
				}
			}
			.modulo-texto-padrao{
				position: relative;
				.texto{
					margin-top:10px;
					color:#000;
					line-height: 140%;
					.oxygen(14px);
					a{
						font-weight: bold;
						color:#000;
						transition:all .1s ease-out;
						&:active, &:visited{color:#000;}
						&:hover{
							text-decoration: underline;
						}
					}
					ul{list-style: disc inside;}
					ol{list-style: decimal inside;}
					ul, ol{
						margin:15px 0;
						li{
							margin-bottom: 3px;
						}
					}
				}
			}
			#modulo-base{
				background-color:#000;
				h2{
					margin:0 0 0 0;
					color:#96989A;
					text-transform: uppercase;
					.oxygen(12px);
				}
				h3{
					margin:7px 0 0 0;
					color:#96989A;
					.oxygen(12px);
				}
				h1{
					margin:40px 0;
					text-transform: uppercase;
					color:#fff;
					line-height: 115%;
					.oxygen(120px, bold);
					@media @small_portrait, @small_landscape{
						margin:15px 0;
						font-size: 20px;
					}
				}
				.lista-idiomas{
					.oxygen(18px, bold);
					color: #fff;
					margin-top: 15px;
					span{
						display: inline-block;
						vertical-align: top;
						margin-right: 5px;
					}
					.idioma{
						position: relative;
						display: inline-block;
						vertical-align: top;
						max-width: 25px;
						margin-right: 5px;
						img{
							max-width: 100%;
						}
						&:hover span{
							opacity: .9;
							z-index: 999;
						}
						span {
							position: absolute;
							width: 100px;
							color: #000;
							background: #fff;
							height: 30px;
							line-height: 30px;
							text-align: center;
							opacity: 0;
							border-radius: 6px;
							padding: 0 10px;
							box-shadow: -2px 2px 0 #807d7f;
							transition: opacity .3s ease-out;
							bottom: 45px;
							left: 50%;
							transform: translateX(-50%);
							.oxygen(12px);
							&:after{
								content: '';
								position: absolute;
								top: 100%;
								left: 50%;
								margin-left: -8px;
								width: 0;
								height: 0;
								border-top: 8px solid #807d7f;
								border-right: 8px solid transparent;
								border-left: 8px solid transparent;
							}
						}
					}
				}
			}
			#modulo-fotos,#modulo-personagens,#modulo-editorialdemoda,#modulo-personalstylist{
				position: relative;
				.titulo{
					position: absolute;
					top:0;
					left:0;
					padding:20px;
					@media @small_portrait, @small_landscape{
						padding:5px;
					}
					box-sizing: border-box;
					width:100%;
					z-index:985;
					color:#000;
					.oxygen(20px, bold);
					text-shadow: -2px 2px 5px #FFFFFF;
					@media @small_portrait, @small_landscape{
						font-size: 16px;
					}
					.pager{
						display: block;
						vertical-align: -5px;
						margin-left:4px;
						span{
							.inline;
							font-size: 30px;
							margin-right:6px;
							transition:color .3s ease-in;
							&:hover{
								cursor: pointer;
								color:#CCC;
							}
							&.cycle-pager-active{color:#CCC;}
						}
					}
				}
				.listaImagens{
					position: absolute;
					top:0;
					left:0;
					width:100%;
					height: 100%;
					.imagem{
						position: absolute;
						top:0;
						left:0;
						width:100%;
						height: 100%;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
						a{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							display: block;
						}
						img{
							display:none;
						}
					}
				}
			}
			#modulo-videos{
				.listaVideos{
					margin:10px 0;
					width:100%;
					height: 100%;
					overflow: hidden;
					.video{
						width:100%;
						margin-bottom: 10px;
						position: relative;
						padding-bottom: 56.25%; /* 16:9 */
						padding-top: 25px;
						height: 0;
						&:after{
							content:"";
							display:block;
							position:absolute;
							width:80px;
							height:80px;
							border-radius:100%;
							top:50%;
							left:50%;
							transform:translateX(-50%) translateY(-50%);
							background:#fff;
							z-index:1;
							opacity:0.6;
							transition:opacity .3s ease-out;
						}
						&:before{
							content:"";
							display:block;
							position:absolute;
							width:0;
							height:0;
							border-left:30px solid #000;
							border-top:20px solid transparent;
							border-bottom:20px solid transparent;
							top:50%;
							left:50%;
							transform:translateX(-32%) translateY(-50%);
							z-index:2;
							transition:opacity .3s ease-out;
						}
						img{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							opacity: 1;
							transition:opacity .3s ease-out;
						}
						&:hover{
							cursor:pointer;
							&:after{opacity:1;}
						}
						&.videoAtivo{
							&:after, &:before, img{display:none;}
						}
						iframe {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
			#modulo-redes-sociais{
				.icones-redes-sociais{
					margin:10px 0 0 0;
					.icone{
						position: relative;
						display:inline-block;
						vertical-align: top;
						width:34px;
						height:34px;
						margin-right:3px;
						margin-bottom:10px;
						background-repeat: no-repeat;
						background-image: url('../img/icones/sprite-v3.png');
						transition:all .1s ease-out;
						opacity:0.5;
						&.icone-instagram{background-position: 0px -88px;}
						&.icone-facebook{background-position: 0px 0px;}
						&.icone-twitter{background-position: 0px -220px;}
						&.icone-vimeo{background-position: 0px -264px;}
						&.icone-youtube{background-position: 0px -308px;}
						&.icone-linkedin{background-position: 0px -132px;}
						&.icone-flickr{background-position: 0px -44px;}
						&.icone-pinterest{background-position: 0px -176px;}
						&.icone-gplus{background-position: 0px -351px;}
						&.icone-imdb {background-position: 0px -396px;}
						&.icone-tumblr{
							background: url('../img/icones/about/tumblr32.png') center center no-repeat;
						}
						img{display:none;}
						&:hover{
							margin-top:-3px;
							opacity:1;
						}
						&.ativo{
							margin-top:0px;
							opacity:1;
							&:after{opacity:1;}
						}
						&:after{
							content:"";
							opacity:0;
							position: absolute;
							bottom:-6px;
							transition:opacity .1s ease-out;
							transform:translateX(-50%);
							left:50%;
							border-top:4px solid #000;
							border-left:4px solid transparent;
							border-right:4px solid transparent;
						}
					}
				}
				.lista-redes-sociais{
					margin:10px 0;
					.tab-social{
						.oxygen(18px, bold);
						padding-top:10px;
						display:none;
						&.ativo{display:block;}
						.seguir{
							padding:15px;
						}
						.widget{
							padding:15px 0;
						}
					}
				}
			}
			#modulo-acoes-sociais{
				.listaAcaoSocial{
					margin:10px 0;
					.acaoSocial{
						display: block;
						margin-bottom: 27px;
						.imagem{
							width:33%;
							display: inline-block;
							vertical-align: top;
							img{
								max-width: 80%;
								max-height: 100%;
							}
							@media @small_portrait, @small_landscape{
								width:100%;
								margin-bottom: 4px;
								img{max-width: 100%;}
							}
						}
						.texto{
							width:67%;
							@media @small_portrait, @small_landscape{
								width:100%;
							}
							display: inline-block;
							vertical-align: top;
							color:#000;
							line-height: 140%;
							.oxygen(14px);
						}
					}
				}
			}
			#modulo-publicacoes{
				.listaPublicacoes{
					margin:10px 0;
					.publicacao{
						display: block;
						margin-bottom: 27px;
						.imagem{
							width:33%;
							display: inline-block;
							vertical-align: top;
							img{
								max-width: 80%;
								max-height: 100%;
							}
						}
						.titulos{
							width:67%;
							display: inline-block;
							vertical-align: top;
							h3{
								margin:8px 0;
								display:block;
								color:#000;
								.oxygen(14px, bold);
							}
						}
						.texto{
							width:100%;
							padding-top:10px;
							display: block;
							color:#000;
							line-height: 140%;
							.oxygen(14px);
						}
					}
				}
			}
			#modulo-espetaculos{
				.listaEspetaculos{
					margin:10px 0;
					.espetaculos{
						display: block;
						margin-bottom: 27px;
						.imagem{
							width:33%;
							display: inline-block;
							vertical-align: top;
							img{
								max-width: 80%;
								max-height: 100%;
							}
						}
						.titulos{
							width:67%;
							display: inline-block;
							vertical-align: top;
							h3{
								margin:8px 0;
								display:block;
								color:#000;
								.oxygen(14px, bold);
							}
						}
						.texto{
							width:100%;
							padding-top:10px;
							display: block;
							color:#000;
							line-height: 140%;
							.oxygen(14px);
						}
					}
				}
			}
			#modulo-workshops{
				.listaWorkshops{
					margin:10px 0;
					.workshops{
						display: block;
						margin-bottom: 27px;
						.imagem{
							width:33%;
							display: inline-block;
							vertical-align: top;
							img{
								max-width: 80%;
								max-height: 100%;
							}
						}
						.titulos{
							width:67%;
							display: inline-block;
							vertical-align: top;
							h3{
								margin:8px 0;
								display:block;
								color:#000;
								.oxygen(14px, bold);
							}
						}
						.texto{
							width:100%;
							padding-top:10px;
							display: block;
							color:#000;
							line-height: 140%;
							.oxygen(14px);
						}
					}
				}
			}
			#modulo-premios{
				.listaPremios{
					margin:10px 0;
					.premio{
						display: block;
						margin-bottom: 27px;
						.imagem{
							width:33%;
							display: inline-block;
							vertical-align: top;
							img{
								max-width: 80%;
								max-height: 100%;
							}
						}
						.texto{
							width:67%;
							display: inline-block;
							vertical-align: top;
							h3{
								margin:8px 0 2px 0;
								display:block;
								color:#000;
								.oxygen(14px, bold);
							}
							p{
								width:100%;
								padding-top:5px;
								display: block;
								color:#000;
								line-height: 140%;
								.oxygen(14px);
							}
						}
					}
				}
			}
		}

		&.links-home{
			#lista-redes-sociais-home{
				z-index: 999999;
				position: absolute;
				bottom: 10%;
				text-align: center;
				width: 100%;
				white-space: normal;
				a{
					display: inline-block;
					vertical-align: top;
					width: 30px;
					height: 30px;
					margin: 0 2px 4px 2px;
					img{
						width: 30px;
						height: 30px;
						display: block;
						transition: all .1s ease-out;
						margin: 0;
						opacity: 1;
					}
					&:hover img{
						margin: -3px 0 0;
						opacity: 0.7;
					}

					&#link-snapchat{
						position: relative;
						&:hover span{
							opacity: .9;
							z-index: 999;
						}
						span {
							position: absolute;
							width: 140px;
							color: #FFF;
							background: #000;
							height: 30px;
							line-height: 30px;
							text-align: center;
							opacity: 0;
							border-radius: 6px;
							padding: 0 10px;
							box-shadow: -2px 2px 0 #807d7f;
							transition: opacity .3s ease-out;
							bottom: 45px;
							left: 50%;
							transform: translateX(-50%);
							.oxygen(12px);
							&:after{
								content: '';
								position: absolute;
								top: 100%;
								left: 50%;
								margin-left: -8px;
								width: 0;
								height: 0;
								border-top: 8px solid #807d7f;
								border-right: 8px solid transparent;
								border-left: 8px solid transparent;
							}
						}
					}

				}
			}
			#marca-caico-home{
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				transform: translateY(-50%) translateX(-50%);
				z-index: 999999;
				padding: 30px;
				background: #fff;
				img{
					display: block;
					max-width: 100%;
						}
						@media @small_portrait{
							top: 2px;
							transform: translateY(0) translateX(-50%);
							max-width:25%;
						}
						@media @small_landscape{
							padding: 10px;
							top: 2px;
							transform: translateY(0) translateX(-50%);
							max-width:15%;
						}
						@media @medium_portrait, @medium_landscape{
							top: 15%;
							transform: translateY(0) translateX(-50%);
						}
					}
					.contemSubMenu{
						z-index: 9999992;
						&.contemMenuAgenciados{
							border-bottom: 40px #000 solid;
						}
					}
					.menu{
						height: 100% !important;
						.link{
							background-image: none;
							height: 100% !important;
							position: relative;
							font-size: 25px;
							@media @small_portrait{
								font-size: 17px;
							}
							@media @small_portrait, @small_landscape{
								text-align: center;
							}
							span{
								opacity:1;
								position: absolute;
								top: 50%;
								margin: 0;
								transform: translateY(-50%);
							}
							&.link-submenu{
								span{ right: 12%; }
								@media @medium_portrait, @medium_landscape{
									span{
										right: 50%;
										transform: translateX(50%);
										text-align: center
									}
								}
								&:hover{
									background-color:#CCCCCC;
									border-right: 15px #CCCCCC solid;
								}
								&:hover span,
								&.ativo span{
									margin: 0px;
								}
							}
							&.link-agenciados{
								span{ left: 12%;}
								@media @medium_portrait, @medium_landscape{
									span{
										left: 50%;
										transform: translateX(-50%);
										text-align: center
									}
								}
								&:hover{
									background-color:#96989A;
									border-left: 15px #96989A solid;
								}
								&:hover span,
								&.ativo span{
									margin: 0px;
								}
							}
							&.ativo{
								opacity: 0;
							}
						}
					}
		}
	}
}

@-webkit-keyframes bounce {
    0%, 10%, 25%, 40%, 50%, 100% {-webkit-transform: translateX(0);}
    20% {-webkit-transform: translateX(20px);}
    30% {-webkit-transform: translateX(10px);}
}

@keyframes bounce {
    0%, 10%, 25%, 40%, 50%, 100% {transform: translateX(0);}
    20% {transform: translateX(20px);}
    30% {transform: translateX(10px);}
}

strong{font-weight: bold;}

html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  overflow: hidden;
}
html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move {
  position: relative;
  height: 200%;
}
html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #paralaxe-scroll {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  position: relative;
  z-index: 8;
  display: block;
  top: 0;
  left: 0;
}
html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #paralaxe-scroll .scroll-down {
  height: 30px;
  line-height: 30px;
  position: absolute;
  white-space: nowrap;
  left: 99%;
  bottom: 45px;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  opacity: .8;
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
@media (min-width: 0px) and (max-width: 375px) and (orientation: portrait) {
  html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #paralaxe-scroll .scroll-down {
    bottom: 45px;
  }
}
html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #paralaxe-scroll .scroll-down span.seta {
  font-size: 31px;
  vertical-align: -4px;
  margin-right: 4px;
}
html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #paralaxe-scroll .scroll-down .animated {
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #paralaxe-scroll .scroll-down .bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  position: relative;
  background-color: #000;
  border-top: 30px transparent solid;
  border-right: 30px transparent solid;
  border-bottom: 70px transparent solid;
  border-left: 30px transparent solid;
  overflow: hidden;
}
html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .prlx-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 997;
	&:nth-child(1){z-index: 995;}
	&:nth-child(2){z-index: 997;}
	&:nth-child(3){z-index: 990;}
	&:nth-child(4){z-index: 993;}
	&:nth-child(5){z-index: 995;}
}
html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem-paralaxe img {
  opacity: 1;
  max-width: 100%;
}
html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem1 {
  /***************/
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30%;
  /***************/
}
@media (min-width: 376px) and (max-width: 769px) and (orientation: portrait) {
  html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem1 {
    max-width: 50%;
  }
}
@media (min-width: 0px) and (max-width: 375px) and (orientation: portrait) {
  html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem1 {
    bottom: -5%;
    left: -10%;
    max-width: 60%;
  }
}
@media (min-width: 0px) and (max-width: 667px) and (orientation: landscape) {
  html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem1 {
    bottom: -5%;
    left: -7%;
    max-width: 40%;
  }
}
html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem2 {
  /***************/
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 45%;
  /***************/
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
@media (min-width: 376px) and (max-width: 769px) and (orientation: portrait) {
  html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem2 {
    max-width: 70%;
  }
}
@media (min-width: 0px) and (max-width: 375px) and (orientation: portrait) {
  html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem2 {
    max-width: 100%;
    width: 70%;
  }
}
html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem3 {
  /***************/
  position: absolute;
  top: 0;
  right: 0;
  max-width: 30%;
  /***************/
}
@media (min-width: 376px) and (max-width: 769px) and (orientation: portrait) {
  html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem3 {
    max-width: 50%;
  }
}
@media (min-width: 0px) and (max-width: 375px) and (orientation: portrait) {
  html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem3 {
    max-width: 77%;
  }
}
html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem4 {
  /***************/
  position: absolute;
  right: 4%;
  bottom: 25%;
  max-width: 10%;
  /***************/
}
@media (min-width: 376px) and (max-width: 769px) and (orientation: portrait) {
  html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem4 {
    max-width: 18%;
  }
}
@media (min-width: 0px) and (max-width: 375px) and (orientation: portrait) {
  html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem4 {
    right: 0;
    bottom: 0;
    max-width: 30%;
  }
}
@media (min-width: 0px) and (max-width: 667px) and (orientation: landscape) {
  html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem4 {
    bottom: 0;
    right: 0;
    max-width: 16%;
  }
}
html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem5 {
  /***************/
  position: absolute;
  right: 12%;
  bottom: 9%;
  max-width: 10%;
  /***************/
}
@media (min-width: 0px) and (max-width: 375px) and (orientation: portrait), (min-width: 0px) and (max-width: 667px) and (orientation: landscape) {
  html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem5 {
    bottom: 55%;
  }
}
@media (min-width: 0px) and (max-width: 375px) and (orientation: portrait) {
  html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem5 {
    bottom: 27%;
    right: 27%;
    max-width: 24%;
  }
}
@media (min-width: 0px) and (max-width: 667px) and (orientation: landscape) {
  html body .conteudo #modulo-entrada #camada-paralaxe.paralaxe-wrapper .paralaxe-move #modulo-paralaxe .imagem5 {
    bottom: 40%;
    right: 18%;
    max-width: 16%;
  }
}
