@import url('http://fonts.googleapis.com/css?family=Oxygen:400,700');

@small_portrait	: ~"(min-width: 0px) and (max-width: 375px) and (orientation: portrait)";
@small_landscape	: ~"(min-width: 0px) and (max-width: 667px) and (orientation: landscape)";

@medium_portrait : ~"(min-width: 376px) and (max-width: 769px) and (orientation: portrait)";
@medium_landscape : ~"(min-width: 668px) and (max-width: 1024px) and (orientation: landscape)";

@large  : ~"(min-width: 770px) and (orientation: portrait), (min-width: 1025px) and (orientation: landscape)";


.arial(@fsize:12px, @fweight:normal){
	font-family: 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.oxygen(@fsize:12px, @fweight:normal){
	font-family: 'Oxygen', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.centralizar{
	margin:0 auto;
}

.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}